.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fileUpload,
.plusBtn {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 10px solid #ffffff;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #2590eb 50%, #ffffff 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #ffffff;
  font-size: 100px;
}

.fileUploaded {
  background-image: linear-gradient(to bottom, #25eb6e 50%, #ffffff 50%);
}

.fileUploadInput {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.fileUpload:hover {
  background-position: 0 -100%;
  color: #2590eb;
}

.fileUploaded:hover {
  color: #25eb6e;
}

.plusBtn {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #062138 50%, #ffffff 50%);
}

.plusBtn:hover {
  background-position: 0 -100%;
  color: #062138;
}

.authInputsBtns {
  display: flex;
  flex-direction: row;
}
